/* Empty file for template. Remember to edit only this file and not the HTML file */
/* Imports font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Changes the background color */
* {
    background-color: #382752;
}
/*  */
div {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}